@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 31, 41, 55; /* text-gray-800 */
  --background-rgb: 251, 251, 251; /* Changed from white to #FBFBFB */
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-display font-bold;
  }
  
  h1 {
    @apply text-4xl md:text-5xl lg:text-6xl;
  }
  
  h2 {
    @apply text-3xl md:text-4xl lg:text-5xl;
  }
  
  h3 {
    @apply text-2xl md:text-3xl;
  }
  
  section {
    @apply py-12 md:py-24;
  }
}

@layer components {
  .container {
    @apply px-4 mx-auto max-w-7xl;
  }
  
  .btn-primary {
    @apply inline-flex items-center justify-center px-6 py-3 text-base font-medium text-background transition-colors duration-200 bg-primary rounded-md hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary;
  }
  
  .btn-secondary {
    @apply inline-flex items-center justify-center px-6 py-3 text-base font-medium text-primary transition-colors duration-200 bg-background border border-primary rounded-md hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary;
  }
}